@charset "UTF-8";

header {
<<<<<<< HEAD
    background-color: black;
}

header > h1 {
    font-family: 'Passion One', cursive;
    font-size: 5vw;
    color: white;
    padding: 20px;
    text-align: center;
}

header > p {
    color: white;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

main {
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
}

main p {
    font-family: Sriracha, sans-serif;
    padding: 25px;
    font-size: 5vw;
}

section {
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

section::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    transform: translateZ(-1px) scale(1.5);
}

.img1::before {
    background-image: url(imagens/background001.jpg);
}

.img2::before {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 5px;
}

footer a:hover {
    text-decoration: underline;
    background-color: rgb(95, 95, 95);
=======
    
>>>>>>> parent of b4f93c8 (Comecei as configurações de estilo do site)
}